@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
/*-----------------------------------
            共通部分
----------------------------------- */
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
body{
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #000;
}
a {
    text-decoration: none;
}
img{
    margin:0 auto 0;
}
/* タグ */
h1,
h2,
h3{
    text-align: center;
}
h1{
	font-size: 21px;
}
h2{
    font-size: 17px;
}
h3{
    font-size: 1rem;
	font-style: bold;
}
h4{
	font-size: 3rem;
}
/* ヘッダー
------------------------------- */
.header h2{
	font-size: 1.5rem;
}
.page-header{
    height: 5rem;
    margin: 0 2rem;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-nav{
    display: flex;
    justify-content: center;
    gap: 24px;
    font-size: 1rem;
    list-style: none;
}
.page-header a{
    color: #000;
}
.page-nav a:hover {
    color: #999;
}
.page-header .gray{
    color:#999;
}
/* レイアウト
------------------------------- */
.wrapper{
    padding: 0 50px 0;
}
.center{
	text-align: center;
	align-items: center;
}
.right{
    text-align: right;
}
.outline,
.menu li{
	padding:2rem 0;
	border-radius: 15px;
	border: #000;
	border:3px solid; 
}
.button{
	text-align: right;
	margin-top: 1rem;
}
.form{
	margin: 0 auto;
}
/* ログイン画面 
------------------------------- */
.login h1{
	font-size: 4rem;
	margin: 10rem 0 2rem;
}
.login .outline{
	padding:4rem 2rem;
	margin: auto;
	max-width: 500px;
}
/* メイン画面 
------------------------------- */
/*トップ*/
.top{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin:3rem 0 1rem;
}
.item-speech{
	margin-bottom: 1rem;
}
.item-speech h2{
	text-align: left;
}
.img-inf{
	max-height: 100px;
}
.speechBubble {
  position: relative;
  display: inline-block;
  margin-bottom: 13px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #faf7f0;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}
.speechBubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 13%;
  border-style: solid;
  border-width: 13px 14px 0 0;
  border-color: #faf7f0 transparent transparent;
  translate: calc(-50% - 0.5px) 100%;
  transform: skew(-12deg);
  transform-origin: top;
}
/*メイン*/
.main{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 2rem;
	max-width: 900px;
	margin: 0 auto;
}
.item-menu{
	flex-basis: 180px;
}
.item-200{
	flex-basis: 200px;
	display: flex;
	flex-flow: column;
	gap: 1rem;
}
.item-flex{
	flex-grow: 1;
	display: flex;
	flex-flow: column;
	gap: 1rem;
}
.main .item-flex .item-top{
	align-items: center;
}
.menu{
	display: flex;
	flex-flow: column;
	gap: 1rem;
	height: 50px;
	width: 180px;
    text-align: center;
	list-style: none;
}
.menu li{
	background-color: #daf2f6;
}
.menu li a{
	font-size: 17px;
}

/*タイマー*/
.item-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  padding: 2rem;
}

.timer-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.time-display {
	width: 120px;
	  font-size: 20px;
	  background-color: #f0f0f0;
	  margin-top: 1rem;
	  padding: 23px 0;
	  border-radius: 20px;
}

.circle-button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.start {
  background-color: #ffffff;
  border: 2px solid #333;
}

.finish {
  background-color: #4CAF50;
  color: white;
}

.pause {
  background: #ffffff;
  border: 2px solid #333;
}
/* タスク追加画面
------------------------------- */
.post-task .item-flex{
	text-align: left;
	padding:2rem 2rem;
}
.post-task li{
	list-style: none;
}
/* タスク編集画面
------------------------------- */
.edit-task .item-flex{
	font-size: 12px;
}
.table-task{
	margin:0 auto;
}
th,
td{
    text-align: left;
    border-bottom: 1px solid #999;
	border-spacing: 0;
}
th{
	text-align: center;
	font-style: bold;
	
}
td{
    padding: 0 0.5rem;
}