@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
/*-----------------------------------
            共通部分
----------------------------------- */
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
body{
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #000;
}
a {
    text-decoration: none;
}
img{
    max-width: 150px;
    margin:0 auto 0;
}
/* タグ */
h1,
h2,
h3{
    text-align: center;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 21px;
}
h3{
    font-size: 15px;
}

/* ヘッダー
------------------------------- */
.page-header{
    height: 5rem;
    margin: 0 2rem;
    line-height: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}
.main-nav {
    display: flex;
    justify-content: center;
    gap: 24px;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 1rem;
    list-style: none;
}
.page-header a{
    color: #000;
}
.main-nav a:hover {
    color: #999;
}
.page-header .gray{
    color:#999;
}
/* レイアウト
------------------------------- */
.wrapper{
    padding: 0 110px 0;
    align-items: center;
}
.center{
    text-align: center;
    align-items: center;
}

/* タスク追加画面 - table
------------------------------- */
th,
td{
    text-align: left;
    border-bottom: 1px solid #999;
}
th{
    font-weight: normal;
    padding: 0.5rem;
}
td{
    padding: 0 0.5rem;
}
